<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/Bagsy.svg" type="image/x-icon">
    <title>Bagsy</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>

  <body class="font-sans">
    <nav
      class="w-full flex justify-between fixed top-0 left-0 px-5 py-3 bg-white"
    >
    <a class="text-xl text-white bg-rose-500 px-5 py-2 font-black text-center" href="/logout">
      Bagsy
  </a>
  
      <% var isUserLoggedIn = typeof(isUserLoggedIn) === "undefined" ? false :
      isUserLoggedIn%> <% if(isUserLoggedIn) { %>
      <div class="flex gap-5">
        <a href="/shop">Shop</a>
        <a href="/cart">Cart</a>
        <a href="">My Account</a>
        <a class="text-red-600" href="/logout">Logout</a>
      </div>
      <% } %>
    </nav>
  </body>
</html>
